VITE_TALENT_DISCOVERY_AGENT_URL=https://copilotstudio.microsoft.com/environments/Default-dc579e15-6f24-4a47-b4ce-e20ac694a80b/bots/crbb9_salesreprecruitassistant_4NNd1w/webchat?__version__=2&enableFileAttachment=false&cliAgent=true
VITE_APPLICANT_INTELLIGENCE_AGENT_URL=https://defaultdc579e156f244a47b4cee20ac694a8.0b.environment.api.powerplatform.com/copilotstudio/dataverse-backed/authenticated/bots/new_agentapplications/conversations?api-version=2022-03-01-preview
